@import '../../../../../public/styles/index.scss';

._mainContainer {
  display: flex;
  padding-top: 10%;
  width: 100%;
}

._textContainer {
  width: 50%;
  padding: 0 5%;
  box-sizing: border-box;
}

._textContent {
  margin: 4vw 0;
}

._imageContainer {
  width: 50%;
  padding: 0 5%;
  box-sizing: border-box;
}

._textTitle {
  margin-bottom: 1rem;
  font-size: 2vw;
  text-transform: uppercase;
  color: black;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
}

._text {
  margin-bottom: 1rem;
  font-size: 1vw;

  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
}

._image {
  max-width: 100%;
}

@include responsive(md) {
  ._mainContainer {
    flex-direction: column;
  }

  ._textContainer {
    width: 100%;
  }
  ._imageContainer {
    width: 100%;
  }
  ._textTitle {
    font-size: 7vw;
  }
  ._text {
    font-size: 3vw;
  }
}
