@import '../../../public/styles/index.scss';

._mainContainer {
  width: 100%;
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0% 5%;
  box-sizing: border-box;
  background-color: white;
}

._titleContainer {
  padding: 5%;
}

._mainTitle {
  font-size: 7vw;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
}

._missionText {
  font-size: 2.3vw;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  margin-bottom: 3rem;
}

._subMissionText {
  font-size: 1.3vw;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
  margin-bottom: 2rem;
}

._bodyText {
  font-size: 1.1vw;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: #333;
  text-align: left;
  line-height: 3rem;
  margin-bottom: 1rem;
}

._subTitle {
  font-size: 1.1vw;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: #333;
  text-align: left;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 1rem;
}

._tapText {
  font-size: 1.4vw;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: black;
  text-align: left;
}

._linkContainer {
  margin: 2rem 0;
  text-align: center;
}

._link {
  font-size: 1.5rem;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: white;
}

._transactionError {
  font-size: 1.5rem;
  color: red;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
}

._nftContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

._nftTitle {
  font-size: 1.5rem;
  font-family: 'Monserrat', Geneva, Tahoma, sans-serif;
  color: white;
}
